
<!-- Structural Directive ------------------->


<!-- <h2 *ngFor="let surya of hello">
  {{surya.age}} {{surya.name}}

</h2> -->

<!-- <div *ngIf = 'mkom'>Boolean is set to true</div> -->

<!-- <div *ngIf = 'variab==5; else multi'>{{variab}}</div>
  
<ng-template #multi>
    {{variab *2}}
  </ng-template> -->

 <!-- <div  [ngSwitch]="num">

  <div *ngSwitchCase="'1'">hey yaa this is me</div>
  <div *ngSwitchCase="'2'"> me</div>
  <div *ngSwitchCase="'3'">hey yaa </div>
  <div *ngSwitchCase="'4'">hey yaa this is me</div>
  <div *ngSwitchCase="'5'">hey is me</div>

 </div> -->

 <!-- Attribute Directive -->

 <!-- ngclass is used as css style = Adds and removes a set of CSS classes. -->

 <!-- <div [ngClass]="'first'">
  <p [ngClass]="'second'">ngClass as a String</p>
</div> -->

<!-- NgStyle	Adds and removes a set of HTML styles. -->

<!-- <div [ngStyle]="{'background-color':'green'}">hello thsi is me  </div>
<div [ngStyle]="{'font-size.px':24}">i am here bro</div>
<div [ngStyle]="{'font-size.px':33}">dusk till dawn</div> -->


<!-- NgModel	Adds two-way data binding to an HTML form element. -->

<!-- <input [(ngModel)]="CopyText"><br>
<strong>{{CopyText}}</strong><br>
<input type="text " value="{{CopyText}}"> -->


<!-- Component Directive ---------- -->

<!-- @Component({
  selector: 'app-component-overview',
  templateUrl: './component-overview.component.html',
  styleUrls: ['./component-overview.component.css']
}) -->


<!-- Angular Pipes (built-in pipes) -->


<!-- <h1>

  Date: {{ dateToday  }} <br>

    Date Pipe: {{ dateToday | date | uppercase}}<br>

    Date Pipe: {{ dateToday | date: 'short' | lowercase}} <br>

    Name: {{ name | uppercase}} <br>

    Name: {{ name | slice:6}}

</h1> -->



<!-- date pipe: Formats a date value.
number pipe: Formats a number value.
uppercase and lowercase pipes: Converts a string to upper or lower case.
currency pipe: Formats a number as currency.
json pipe: Converts a JavaScript object to a JSON string.
async pipe: Subscribes to an observable or promise and returns the latest value. -->

<!-- <div>{{ date | localedate: "fr" }}</div>
<p>My Observable: {{ myObservable | async}}</p> -->

<!-- <p>{{ dateToday | date}}</p> -->


<!-- --------------------------------- -->


<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>




